body{
    background: #eee;
}
.card{
    background: #fff;
}
.brand-logo i{
    margin-top: 1.1rem;
    margin-right: 0.3rem;
}
.search{
    position: relative;
}
.alert{
    position: absolute;
    top: -10px;
    text-align: center;
    left: 15%;
    color: red;
    animation: alert .5s ease-in;
}

.nav_links .active{
    background: darkred;
}

@keyframes alert{
    0%{
        top: 100%;
        opacity: 0;
    }
    100%{
        top: -50px;
        opacity: 1;
    }
}

.contact span{
    font-weight: bold;
}
.btn_links{
    margin: 3rem 1.5rem 1rem;
}
.chip_group{    
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
}
.chip{
    color: #fff!important;
}
.collection{
    margin: 0.2rem 1.5rem 0.5rem;
}
.secondary-content{
    font-size: 4rem;
    color: orangered;
}
.collection-item{
    position: relative;
}
.collection-item span.title{
    position: absolute;
    margin-left: 1rem;
    top: 25%;
}